body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f8f8f8;
 
}

.App {
  text-align: center;
  max-height :844px;
  max-width:390px;
  width:85%;
  display: flex;
  
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px;
  background-color: white;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  
}

.header-title {
  display: flex;
  align-items: center;
  font-size: 1.5rem;
  font-weight: bold;
}

.header-title i {
  margin-right: 10px;
  color: #d1cdb8;
}

.add-button {
  background-color: #d1cdb8;
  border: none;
  padding: 12px;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;

}

.add-button i {
  font-size: 1rem;
  color: white;
}

.main-content {
  display: flex;
  padding: 20px;
  max-height: 844px;
  height:35%;
  
}

.event-time {
  font-weight: bold;
  color: gray;
  
}
